src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6fb29442-44af-416c-bf80-d0ef9f04e98d" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="world-time-apiFlow" doc:id="e2992713-cefc-48a8-b9c7-c2fade7df7bd" >
		<http:listener doc:name="Listener" doc:id="9f0a182f-f6d5-4e7f-beca-68291b7029e3" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="f306f098-1007-40cc-837f-b829d13f5f79" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b3fb4568-1f40-4781-aa7b-25094eb8f6eb" message="#[payload]"/>
	</flow>
</mule>
